* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* עיצוב לה-container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* עיצוב ל-header */
header {
    background-color: #009687; /* צבע חדשני של ירוק כהה */
    color: white;
    padding: 2rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}

/* עיצוב ל-nav */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem 0;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cddc39; /* צבע חדש של ירוק כהה להדגשה */
}

/* עיצוב ל-sections */
section {
    padding: 4rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #009688;
    font-weight: 600;
}

/* עיצוב ל-about-section */
.about-section p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 800px;
}

/* עיצוב ל-services-section */
.services-section ul {
    list-style: none;
    padding: 0;
}

.services-section ul li {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* עיצוב ל-contact-section */
.contact-section {
    text-align: center;
    padding: 2rem;
    background-color: #009688;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact-section .whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.4rem;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-section .whatsapp-button:hover {
    background-color: #20b358;
    transform: scale(1.05);
}

/* עיצוב ל-footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

img{
    width: 300px;
    height: 300px;
    margin-left: 35%;
    border-radius: 50%;
}